In [2]:
import pandas as pd
df = pd.read_csv("perry_winter_2017_iconicity.csv")

In [11]:
for i in df["POS"].unique():
    print(i, ":", df[df["POS"] == i]["Freq"].sum())

Grammatical : 19668115.0
Verb : 5867256.0
Adjective : 1119904.0
Noun : 3098789.0
Interjection : 484953.0
Name : 7057.0
Adverb : 2428839.0
nan : 0.0

In [24]:
for i in df["POS"].unique():
    print(i, len(df["Word"][df["POS"] == i]))

Grammatical 80
Verb 557
Adjective 535
Noun 1704
Interjection 17
Name 15
Adverb 39
nan 0

In [28]:
print(*df[df["POS"] == "Grammatical"]["Word"], sep="\n")

a
about
above
addition
after
all
an
and
another
any
at
because
before
behind
but
by
each
every
few
first
five
for
four
gonna
gotta
he
her
hers
him
his
I
if
in
into
it
last
like
many
me
mine
more
much
my
near
none
not
of
on
one
our
own
same
she
some
spite
that
the
their
them
there
these
they
this
those
three
to
two
under
us
wanna
we
what
when
which
who
with
you
your
yourself
zero

In [22]:
data = df[["POS", "Freq"]]
data.groupby("POS").sum()

                    Freq
POS
Adjective      1119904.0
Adverb         2428839.0
Grammatical   19668115.0
Interjection    484953.0
Name              7057.0
Noun           3098789.0
Verb           5867256.0

In [21]:
df.groupby("POS").sum()

                  SER  CorteseImag     Conc      Syst        Freq    Iconicity
POS
Adjective      618.22        456.3  1606.77  0.002335   1119904.0   628.791664
Adverb          66.43         67.9   106.20 -0.000410   2428839.0    31.970084
Grammatical    116.31        140.3   196.97  0.000078  19668115.0    38.641581
Interjection    34.12         33.3    36.67 -0.000389    484953.0    45.736205
Name             0.00         16.8    56.99  0.000106      7057.0     6.850000
Noun          3781.48       3635.2  6884.51 -0.008396   3098789.0  1173.862095
Verb          1103.51       1129.1  1727.38 -0.002034   5867256.0   768.889829